// colors
$accentColor = #c70039
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #ec524b
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

#objective{
    margin-top: 13vh}
h1{
    border-bottom: solid 8px yellow;
    font-family: 'Gugi', cursive;
}

#main-title{
    border-bottom:none;
}

body::-webkit-scrollbar {
  width: 2.5px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: red;    /* color of the scroll thumb */
  border-radius: 50px;       /* roundness of the scroll thumb */
  border: 3px solid red;  /* creates padding around scroll thumb */
}

* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 2px;
}
*::-webkit-scrollbar-track {
  background: orange;
}
*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}
