// colors
$accentColor = #c70039
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #ec524b
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

#objective{
    margin-top: 13vh}
h1{
    border-bottom: solid 8px yellow;
    font-family: 'Gugi', cursive;
}

#main-title{
    border-bottom:none;
}